.root{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color: #333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    overflow-x:visible;
    max-width:100%;
}
.RootNew{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    max-width:100%;
}
.MainLayoutStyle{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    max-width:100%;
}
.HeaderContainer{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    position:sticky;
    top:0px;
    z-index:1000;
    max-width:100%;
}
div{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    max-width:100%;
}
.headerlogo{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    max-width:100%;
}
.HeaderlogoContainer{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    max-width:100%;
    height:64px;
    background:#fff;
    margin-right:auto;
    margin-left:auto;
    padding-left:24px;
    padding-right:24px;
    box-shadow:0 3px 6px 0 rgba(0,0,0,0.15);
}
.row1{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-size:14px;
    line-height:1.4;
    color:#333;
    font-family:'BrandonTextWeb-Regular';
    box-sizing:border-box;
    margin-left:-8px;
    margin-right:-8px;
    height:100%;
    display:flex;
    -webkit-box-align:center;
    align-items:center;
    max-width:100%;
}
.col-sm-3-cure-fit-icon-dropdown{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    width: 25%;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
}
a{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    max-width: 100%;
}
.curefitImageContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    color: inherit;
    box-sizing: border-box;
    width: 38px;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.curefitLoadingElement{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    color: inherit;
    box-sizing: border-box;
    max-width: 100%;
}
.logoImageElement{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    color: inherit;
    aspect-ratio: auto 38 / 42.2222;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 100%;
}
.col-sm-6{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    width: 50%;
    max-width: 100%;
}
.row{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    margin-left: -8px;
    margin-right: -8px;
    max-width: 100%;
}
.col-sm-12{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    max-width: 100%;
}
.cure-fit-domains{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    position: relative;
    max-width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.header-items{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    list-style: none;
    box-sizing: border-box;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
}
.non-clp-header{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    list-style: none;
    box-sizing: border-box;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    top: 3px;
    padding: 0px;
    background-color: white;
    max-width: 100%;
}
.nonclp-icon{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    list-style: none;
    color: inherit;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: 25px;
}
.header-text{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    list-style: none;
    box-sizing: border-box;
    font-family: "BrandonTextWeb-Medium";
    color: rgb(0, 0, 0);
    font-size: 12px;
    max-width: 100%;
}
.header-title{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    list-style: none;
    font-family: "BrandonTextWeb-Medium";
    color: rgb(31, 46, 252);
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 3px;
    margin: 0;
    max-width: 100%;
}
.col-sm-3-text-right-header-right{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    text-align: right;
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
}
.cardandnotification{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: right;
    align-items: right;
    max-width: 100%;
}
.HeaderCart{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 100%;
}
.notificationImageContainer{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    width: 6px;
    min-height: 20px;
    overflow: hidden;
    position: relative;
    display: none;
    max-width: 100%;
}
.notificationLoadingElement{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: initial;
    height: 6px;
    background: linear-gradient(to right,#fbfbfb 8%,#efefef 18%,#fbfbfb 33%);
    animation: animation-1pbeaft 7s linear 0s infinite forwards;
    max-width: 100%;
}
div{
    display: block;
    max-width: 100%;
}
.notificationImageElement{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    aspect-ratio: auto 6 / 6;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}
.cartImageContainer{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    width: 24px;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.cartLoadingElement{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 100%;
}
.cartImageElement{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    aspect-ratio: auto 24 / 22.0183;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 100%;
}
.header-right-item-UA{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20px;
    max-width: 100%;
}
.UserAccount{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 100%;
}
.logged-out
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 0 0.5rem;
    padding-top: 3px;
    max-width: 100%;
}
img
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    width: 16px;
    height: 16px;
    margin-right: 1.3rem;
    max-width: 100%;
}
.login-text
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    font-family: 'BrandonTextWeb-Regular';
    text-align: right;
    cursor: pointer;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
    vertical-align: '-webkit-baseline-middle';
    max-width: 100%;
}
.clearfix
        {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
    transition: 0.3s all;
    min-height: 100vh;
    }
.snackbar-general       
{
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-size: 14px;
            line-height: 1.4;
            color: #333;
            font-family: 'TITILLIUM SANS AND DOSIS';
            box-sizing: border-box;
            max-width: 100%;
}
.center-div
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
}
p
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    margin: 0px;
    max-width: 100%;
}
.ContainerNewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 100%;
}
.NewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
}
.LeftContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    padding: 80px 40px 20px 0px;
    height: fit-content;
    display: inline-block;
    width: 48%;
    position: sticky;
    vertical-align: top;
    top: 70px;
    max-width: 100%;
}
.ImageContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.LoadingElement
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
}
img{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
}
.RightContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    overflow: hidden;
    padding: 80px 0px 20px 40px;
    max-width: 100%;
}
.Address{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    margin-top: 0;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
li{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    font-family: 'TITILLIUM SANS AND DOSIS';
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    list-style-type: none;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    max-width: 100%;
}
.breadcrumbs
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    margin-top: 0;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.show-pointer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    font-family: 'TITILLIUM SANS AND DOSIS';
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    list-style-type: none;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    max-width: 100%;
}
a
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    font-family: 'TITILLIUM SANS AND DOSIS';
    font-size: 13px;
    font-weight: 500;
    list-style-type: none;
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    max-width: 100%;
}
.WidgetContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
}
.New-defaultStyle
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    box-shadow: unset;
    margin-bottom: unset;
    border-radius: unset;
    padding: unset;
    max-width: 100%;
}
.css-0
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
}
.titleContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: end;
    max-width: 100%;
}
.dance
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    font-family: BrandonTextWeb-Bold;
    font-size: 30px;
    max-width: 100%;
}
.ContainerNewDiv1
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
}
.CalorieContainerDiv {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    margin-right: 75px;
    max-width: 100%;
}
.SubTitle
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    box-sizing: border-box;
    padding: 10px 0px 5px;
    font-size: 13px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgb(136, 142, 158);
    max-width: 100%;
}
.calImageNewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    max-width: 100%;
}
.calImageContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 20px;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    max-width: 100%;
}
.calLoadingElement
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
}
.calImageElement
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    aspect-ratio: auto 20 / 25.641;
    box-sizing: border-box;
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
}
.CalorieTitle{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    margin-left: 10px;
    font-family: TITILLIUM SANS AND DOSIS, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    max-width: 100%;
}
.CultProgressBarContainerDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
    width: 35%;
}
.IntensitySubTitle
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    box-sizing: border-box;
    padding: 10px 0px 15px;
    font-size: 13px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgb(136, 142, 158);
    max-width: 100%;
}
.OuterProgressBarDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    height: 7px;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 0px;
    background-color: transparent;
    max-width: 100%;
}
.CompletedProgressDiv1
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0%;
    background-color: rgb(0, 0, 0);
    margin-right: 3px;
    border-radius: 100px 0px 0px 100px;
    max-width: 100%;
}
.CompletedProgressDiv2
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0%;
    background-color: rgb(0, 0, 0);
    margin-right: 3px;
    border-radius: 0px;
    max-width: 100%;
}
.CompletedProgressDiv3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0%;
    background-color: rgb(0, 0, 0);
    margin-right: 3px;
    border-radius: 0px;
    max-width: 100%;
}
.benefitsNewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    padding: 30px 0px 0px;
    max-width: 100%;
}
.benefitsTitle
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    font-size: 20px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin-bottom: 7px;
    max-width: 100%;
}
.cardioNewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.cardioTagNewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    background-color: rgb(93, 66, 201);
    width: fit-content;
    border-radius: 17px;
    margin: 20px 15px 0px 0px;
    max-width: 100%;
}
.cardioTitle
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    box-sizing: border-box;
    font-family: TITILLIUM SANS AND DOSIS, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 16px;
    max-width: 100%;
}
.Titleline
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'BrandonTextWeb-Bold', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    padding: 30px 0px 10px;
    max-width: 100%;
    
}
.titleNewContainer{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding-bottom: 30px;
    max-width: 100%;
}
.LeftText
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    margin-right: 10px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(155, 155, 155);
    max-width: 100%;
}
.colorNewContainerDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: flex;
    width: 85%;
    max-width: 100%;
}
.c1NewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 16%;
    background-color: rgb(250, 65, 65);
    height: 10px;
    border-radius: 15px 0px 0px 15px;
    max-width: 100%;
}
.c2NewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 14%;
    background-color: rgb(250, 225, 105);
    height: 10px;
    max-width: 100%;
}
.c3NewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 50%;
    background-color: rgb(75, 190, 205);
    height: 10px;
    max-width: 100%;
}
.c4NewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 10%;
    background-color: rgb(210, 110, 250);
    height: 10px;
    max-width: 100%;
}
.c5NewDiv
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 10%;
    background-color: rgb(215, 90, 90);
    height: 10px;
    border-radius: 0px 15px 15px 0px;
    max-width: 100%;
}
.RightText
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    margin-left: 10px;
    width: 55px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(207, 194, 194);
    max-width: 100%;
}
.InfoNew
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5% 15% auto;
    padding: 10px 0px;
    max-width: 100%;
}
.InfoColorBar1
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 30px;
    height: 10px;
    background-color: rgb(250, 65, 65);
    border-radius: 10px;
    max-width: 100%;
}
.InfoColorBar2{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 30px;
    height: 10px;
    background-color: rgb(250, 225, 105);
    border-radius: 10px;
    max-width: 100%;
}
.InfoColorBar3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 30px;
    height: 10px;
    background-color: rgb(75, 190, 205);
    border-radius: 10px;
    max-width: 100%;
}
.InfoColorBar4{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 30px;
    height: 10px;
    background-color: rgb(210, 110, 250);
    border-radius: 10px;
    max-width: 100%;
}
.InfoColorBar5{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    width: 30px;
    height: 10px;
    background-color: rgb(215, 90, 90);
    border-radius: 10px;
    max-width: 100%;
}
.InfoTime1{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 0px 15px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(155, 155, 155);
    max-width: 100%;
}
.InfoTime2{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 0px 15px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(155, 155, 155);
    max-width: 100%;
}
.InfoTime3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 0px 15px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(155, 155, 155);
    max-width: 100%;
}
.InfoTime4{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 0px 15px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(155, 155, 155);
    max-width: 100%;
}
.InfoTime5{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 0px 15px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(155, 155, 155);
    max-width: 100%;
}
.Info1{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
}
.Info2{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
}
.Info3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
}
.Info4{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
}
.Info5{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
}
.ButtonNewNew
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.Button
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: none!important;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: linear-gradient(99deg, rgb(231, 86, 69), rgb(226, 67, 120));
    border: 1px solid transparent;
    padding: 6px 24px;
    font-size: 16px;
    line-height: 1.42857;
    user-select: none;
    transition: all 0.15s ease 0s;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-shadow: none;
    opacity: 1;
    max-width: 100%;
}
.Separator
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    margin: 10px 0px;
    background-color: rgb(216, 216, 216);
    opacity: 0.4;
    height: 2px;
    max-width: 100%;
}
.DescriptionWidgetContainer
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'TITILLIUM SANS AND DOSIS';
    box-sizing: border-box;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 20px 0px;
}
.DescriptionWidgetContainer>p{
    @media (max-width: 568px)
}
.DescriptionSubTitile
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.4;
    white-space: pre-wrap;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 5px;
    font-family: 'TITILLIUM SANS AND DOSIS', "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    max-width: 100%;
}
.fbody
{
    background-color: black;
    max-width: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    font-family: 'BrandonTextWeb-Regular';
    box-sizing: border-box;
    position: relative;
    height: fit-content;
    padding: 50px 0 0 0;
    max-width: 100%;
}
.color
{
  color:whitesmoke;
 padding: 0 0 40px 0;
 max-width: 100%;
}
.imdes1{
width: 126px;
min-height: '-webkit-fit-content';
min-height: '-moz-fit-content';
min-height: fit-content;
overflow: hidden;
position: relative;
}
.gap
{
     margin-bottom: 20px;
}
.imdes2{
position: relative;
top: 0px;
left: 0px;
width: 100%;
}
.description{
margin-top: 20px;
font-size: 14px;
font-weight: 500;
font-style: 'Merriweather';
font-stretch: normal;
line-height: normal;
-webkit-letter-spacing: normal;
-moz-letter-spacing: normal;
-ms-letter-spacing: normal;
letter-spacing: normal;
color: #a2a2a2;
padding: 5px;
}
.lfooter1{
-webkit-flex-basis: 100%;
-ms-flex-preferred-size: 100%;
flex-basis: 100%;
max-width:100%
}
.lfooter2
{
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-right: 0;
    max-width: 100%;
    margin: 20px 0;
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    display: '-webkit-box';
    display: '-webkit-flex';
    display: '-ms-flexbox';
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.lfooterul
{
height: inherit;
width: inherit;
display: '-webkit-box';
display: '-webkit-flex';
display: '-ms-flexbox';
display: flex;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-align-items: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-right: 20px;
padding-left: 0;
}
.lFooterUlTextBox{
display: '-webkit-box';
display: '-webkit-flex';
display: flex;
-webkit-align-items: center;
-webkit-box-align: center;
align-items: center;
height: 30px;
}
.lFooterUlText{
padding-right: 30px;
display: inline-block;

}
.lFooterUlTextInside
{
font-size: 12px;
color: #a4a4a4 !important;
}
.linkLogo1
{
    width: 100%;
    min-height: '-webkit-fit-content';
    min-height: '-moz-fit-content';
    min-height: fit-content;
    overflow: hidden;
    position: relative;
    opacity: 0.7;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.logo1
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}
